[{apns, [{apple_host, "gateway.sandbox.push.apple.com"},
{apple_port, 2195},
{cert_file, "/home/faizan/apns_certs/deathmile_apns_dev_cert.pem"},
{key_file, "/home/faizan/apns_certs/deathmile_apns_dev_cert.pem"},
{cert_password, undefined},
{timeout, 30000},
{feedback_port, 2196},
{feedback_host, "feedback.sandbox.push.apple.com"},
{feedback_timeout, 18000000}
 ]}].
