[{apns, [{apple_host, "gateway.sandbox.push.apple.com"},
{apple_port, 2195},
{cert_file, "/Volumes/mac_hd_2/faizan/Dropbox/Nerdiacs/Apple Registration/iPhoneProvProfiles/Feb 2013/PushNotification/ksa_aps_development.pem"},
{key_file, "/Volumes/mac_hd_2/faizan/Dropbox/Nerdiacs/Apple Registration/iPhoneProvProfiles/Feb 2013/PushNotification/ksa_aps_development_key.pem"},
{cert_password, undefined},
{timeout, 30000},
{feedback_port, 2196},
{feedback_host, "feedback.sandbox.push.apple.com"},
{feedback_timeout, 18000000}
 ]}].
