[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]},
 {apns, [
		{apple_host, "gateway.sandbox.push.apple.com"},
		{apple_port, 2195},
		{cert_file, "etc/priv/apscerts/deathmile_apns_dev_cert.pem"},
		{key_file, "etc/priv/apscerts/deathmile_apns_dev_key.pem"},
		{cert_password, undefined},
		{timeout, 30000},
		{feedback_port, 2196},
		{feedback_host, "feedback.sandbox.push.apple.com"},
		{feedback_timeout, 18000000}
		 ]},
 {kernel, [
		{error_logger,{file,"/tmp/fbmatchmaker.log"}}
		]}
].

